/* Custom cucumber.css based on main Cucumber project. */
body {
    font-size: 0px;
    color: white;
    margin: 0px;
    padding: 0px;
}

.cucumber-report, td, th {
    font: normal 11px "Lucida Grande", Helvetica, sans-serif;
    background: white;
    color: black;
}
.cucumber-report #cucumber-header, td #cucumber-header, th #cucumber-header {
    background: #65c400;
    color: white;
    height: 6em;
}
.cucumber-report #cucumber-header #expand-collapse p, td #cucumber-header #expand-collapse p, th #cucumber-header #expand-collapse p {
    float: right;
    margin: 0 0 0 10px;
}
.cucumber-report .scenario h3, td .scenario h3, th .scenario h3, .background h3 {
    font-size: 11px;
    padding: 3px;
    margin: 0;
    background: #65c400;
    color: white;
    font-weight: bold;
}

.background h3 {
    font-size: 1.2em;
    background: #666;
}

.cucumber-report h1, td h1, th h1 {
    margin: 0px 10px 0px 10px;
    padding: 10px;
    font-family: "Lucida Grande", Helvetica, sans-serif;
    font-size: 2em;
    position: absolute;
}
.cucumber-report h4, td h4, th h4 {
    margin-bottom: 2px;
}
.cucumber-report div.feature, td div.feature, th div.feature {
    padding: 2px;
    margin: 0px 10px 5px 10px;
}
.cucumber-report div.examples, td div.examples, th div.examples {
    padding: 0em 0em 0em 1em;
}
.cucumber-report .stats, td .stats, th .stats {
    margin: 2em;
}
.cucumber-report .summary ul.features li, td .summary ul.features li, th .summary ul.features li {
    display: inline;
}
.cucumber-report .step_name, td .step_name, th .step_name {
    float: left;
}
.cucumber-report .step_file, td .step_file, th .step_file {
    text-align: right;
    color: #999999;
}
.cucumber-report .step_file a, td .step_file a, th .step_file a {
    color: #999999;
}
.cucumber-report .scenario_file, td .scenario_file, th .scenario_file {
    float: right;
    color: #999999;
}
.cucumber-report .tag, td .tag, th .tag {
    font-weight: bold;
    color: #246ac1;
}
.cucumber-report .backtrace, td .backtrace, th .backtrace {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1em;
    color: black;
}
.cucumber-report a, td a, th a {
    text-decoration: none;
    color: #be5c00;
}
.cucumber-report a:hover, td a:hover, th a:hover {
    text-decoration: underline;
}
.cucumber-report a:visited, td a:visited, th a:visited {
    font-weight: normal;
}
.cucumber-report a div.examples, td a div.examples, th a div.examples {
    margin: 5px 0px 5px 15px;
    color: black;
}
.cucumber-report .outline table, td .outline table, th .outline table {
    margin: 0px 0px 5px 10px;
}
.cucumber-report table, td table, th table {
    border-collapse: collapse;
}
.cucumber-report table td, td table td, th table td {
    padding: 3px 3px 3px 5px;
}
.cucumber-report table td.failed, .cucumber-report table td.passed, .cucumber-report table td.skipped, .cucumber-report table td.pending, .cucumber-report table td.undefined, td table td.failed, td table td.passed, td table td.skipped, td table td.pending, td table td.undefined, th table td.failed, th table td.passed, th table td.skipped, th table td.pending, th table td.undefined {
    padding-left: 18px;
    padding-right: 10px;
}
.cucumber-report table td.failed, td table td.failed, th table td.failed {
    border-left: 5px solid #c20000;
    border-bottom: 1px solid #c20000;
    background: #fffbd3;
    color: #c20000;
}
.cucumber-report table td.passed, td table td.passed, th table td.passed {
    border-left: 5px solid #65c400;
    border-bottom: 1px solid #65c400;
    background: #dbffb4;
    color: #3d7700;
}
.cucumber-report table td.skipped, td table td.skipped, th table td.skipped {
    border-left: 5px solid aqua;
    border-bottom: 1px solid aqua;
    background: #e0ffff;
    color: #001111;
}
.cucumber-report table td.pending, td table td.pending, th table td.pending {
    border-left: 5px solid #faf834;
    border-bottom: 1px solid #faf834;
    background: #fcfb98;
    color: #131313;
}
.cucumber-report table td.undefined, td table td.undefined, th table td.undefined {
    border-left: 5px solid #faf834;
    border-bottom: 1px solid #faf834;
    background: #fcfb98;
    color: #131313;
}
.cucumber-report table td.message, td table td.message, th table td.message {
    border-left: 5px solid aqua;
    border-bottom: 1px solid aqua;
    background: #e0ffff;
    color: #001111;
}
.cucumber-report ol, td ol, th ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.cucumber-report ol li.step, td ol li.step, th ol li.step {
    padding: 3px 3px 3px 18px;
    margin: 5px 0px 5px 5px;
}
.cucumber-report ol li, td ol li, th ol li {
    margin: 0em 0em 0em 1em;
    padding: 0em 0em 0em 0.2em;
}
.cucumber-report ol li span.param, td ol li span.param, th ol li span.param {
    font-weight: bold;
}
.cucumber-report ol li.failed, td ol li.failed, th ol li.failed {
    border-left: 5px solid #c20000;
    border-bottom: 1px solid #c20000;
    background: #fffbd3;
    color: #c20000;
}
.cucumber-report ol li.passed, td ol li.passed, th ol li.passed {
    border-left: 5px solid #65c400;
    border-bottom: 1px solid #65c400;
    background: #dbffb4;
    color: #3d7700;
}
.cucumber-report ol li.skipped, td ol li.skipped, th ol li.skipped {
    border-left: 5px solid aqua;
    border-bottom: 1px solid aqua;
    background: #e0ffff;
    color: #001111;
}
.cucumber-report ol li.pending, td ol li.pending, th ol li.pending {
    border-left: 5px solid #faf834;
    border-bottom: 1px solid #faf834;
    background: #fcfb98;
    color: #131313;
}
.cucumber-report ol li.undefined, td ol li.undefined, th ol li.undefined {
    border-left: 5px solid #faf834;
    border-bottom: 1px solid #faf834;
    background: #fcfb98;
    color: #131313;
}
.cucumber-report ol li.message, td ol li.message, th ol li.message {
    border-left: 5px solid aqua;
    border-bottom: 1px solid aqua;
    background: #e0ffff;
    color: #001111;
    margin-left: 10px;
}
.cucumber-report #summary, td #summary, th #summary {
    margin: 0px;
    padding: 5px 10px;
    text-align: right;
    top: 0px;
    right: 0px;
    float: right;
}
.cucumber-report #summary p, td #summary p, th #summary p {
    margin: 0 0 0 2px;
}
.cucumber-report #summary #totals, td #summary #totals, th #summary #totals {
    font-size: 1.2em;
}

.ruby {
    font-size: 12px;
    font-family: monospace;
    color: white;
    background: black;
    padding: 0.1em 0 0.2em 0;
}
.ruby .keyword {
    color: #ff6600;
}
.ruby .constant {
    color: #339999;
}
.ruby .attribute {
    color: white;
}
.ruby .global {
    color: white;
}
.ruby .module {
    color: white;
}
.ruby .class {
    color: white;
}
.ruby .string {
    color: #66ff00;
}
.ruby .ident {
    color: white;
}
.ruby .method {
    color: #ffcc00;
}
.ruby .number {
    color: white;
}
.ruby .char {
    color: white;
}
.ruby .comment {
    color: #9933cc;
}
.ruby .symbol {
    color: white;
}
.ruby .regex {
    color: #44b4cc;
}
.ruby .punct {
    color: white;
}
.ruby .escape {
    color: white;
}
.ruby .interp {
    color: white;
}
.ruby .expr {
    color: white;
}
.ruby .offending {
    background: #333333;
}
.ruby .linenum {
    width: 75px;
    padding: 0.1em 1em 0.2em 0;
    color: black;
    background: #fffbd3;
}


.cucumber-report .keyword {
    font-weight: bold;
}

.cucumber-report .description {
    font-style: italic;
    margin-left: 20px;
}

.cucumber-report details > section {
    margin-left: 20px;
}

.cucumber-report ol.steps {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
}

.cucumber-report .step .embedded-text {
    background: #dddddd;
}

.cucumber-report .doc_string {
    margin: 0 0 0 20px;
}

.cucumber-report table {
    border-collapse: collapse;
    border: 1px;
    border-style: solid;
}

.cucumber-report td, .cucumber-report th {
    border: 1px;
    border-style: solid;
    padding-left: 4px;
    padding-right: 4px;
}

.cucumber-report table {
    margin-left: 20px;
}

.cucumber-report thead {
    background-color: #C0C0C0;
}

.cucumber-report .passed {
    background-color: #EAFCD7;
}

.cucumber-report .undefined, .cucumber-report .pending {
    background-color: #FAF1AC;
}

.cucumber-report .skipped {
    background-color: #FCFCB3;
}

.cucumber-report .failed {
    background-color: #D88A8A;
}

.cucumber-report .tags {
    display: inline;
}

.cucumber-report .tag {
    margin-right: 0.25em;
    color: #246ac1;
}

.cucumber-report .comments {
    display: inline;
}

.cucumber-report .comment {
    margin: 0;
    padding: 0;
}

.cucumber-report .error {
    margin: .2em .75em;
    padding: .2em;
    border: 1px solid #900;
    background-color: #EDBBBB;
}

#cucumber-templates {
    display: none;
}
